<div class="column no-gutters" style="width: auto;height: auto">
                <label>
                    <input type="radio" name="row" value="0" required>
                    <img src="{{url_for('static', filename='1.png')}}" alt="1" width="80px" height="80px" />
                </label>
                <label>
                    <input type="radio"  name="row" value="1">
                    <img src="{{url_for('static', filename='2.png')}}" alt="2"  width="80px" height="80px" />
                </label>
                <label>
                    <input type="radio"  name="row" value="2">
                    <img src="{{url_for('static', filename='3.png')}}" alt="3"  width="80px" height="80px" />
                </label>
                <label>
                    <input type="radio" name="row" value="3">
                    <img src="{{url_for('static', filename='4.png')}}" alt="" width="80px" height="80px"/>
                </label>

                <label>
                    <input type="radio" name="row" value="4">
                    <img src="{{url_for('static', filename='5.png')}}" alt="5"  width="80px" height="80px" />
                </label>
</div>

<div class="column no-gutters" style="width: auto;height: auto" >

               <label>
                    <input type="radio"  name="column" value="0" required>
                    <img src="{{url_for('static',filename='6.png')}}" alt="6"  width="80px" height="80px" />
                </label>
                <label>
                    <input type="radio" name="column" value="1">
                    <img src="{{url_for('static',filename='7.png')}}" alt="7"  width="80px" height="80px" />
                </label>
                <label>
                    <input type="radio" name="column" value="2">
                    <img src="{{url_for('static',filename='8.png')}}" alt="8" width="80px" height="80px"/>
                </label>
                <label>
                    <input type="radio" name="column" value="3">
                    <img src="{{url_for('static',filename='9.png')}}" alt="9"  width="80px" height="80px"/>
                </label>
                <label>
                    <input type="radio" name="column" value="4">
                    <img src="{{url_for('static',filename='10.png')}}" alt="10"  width="80px" height="80px" />
                </label>
</div>

<style>
    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
            /* IMAGE STYLES */
    [type=radio] + img {
        box-shadow: 3px 3px 5px dimgray;
        cursor: pointer;
        border: 3px solid #074588;
        padding: 1px;
        display: block;
        position: relative;
        margin: 3px;
        border-radius: 5px;
    }
            /* CHECKED STYLES */
    [type=radio]:checked + img {
        border: 3px solid #d6291a;
        border-radius: 5px;
    }
        [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
</style>
